{%- comment -%}
Usage:
  {% include embed_youtube.html youtubeID="Yw6u6YkTgQ4" %}
Replace "dQw4w9WgXcQ" with the ID of the YouTube video you want to embed.
This embed uses the privacy-enhanced "youtube-nocookie.com" URL.
{%- endcomment -%}

<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
  <iframe 
    src="https://www.youtube-nocookie.com/embed/{{ include.youtubeID }}?modestbranding=1&color=white&iv_load_policy=3"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    title="YouTube video"
    loading="lazy"
    referrerpolicy="strict-origin-when-cross-origin">
  </iframe>
</div>
