<div class="grid">
<form role="search" onsubmit="return false;">
  <input id="{{ include.search_id }}" type="search" placeholder="Search {{ include.type }}..." oninput="filterTable('{{ include.table_id }}', '{{ include.search_id }}', '{{ include.checkbox_class }}')" />
</form>

<details class="dropdown">
  <summary>Filter by Topic</summary>
  <ul id="{{ include.filter_id }}">
  </ul>
</details>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const topics = {{ include.unique_topics | jsonify }};
    const topicFilters = document.getElementById("{{ include.filter_id }}");

    topics.forEach(topic => {
      let listItem = document.createElement("li");
      listItem.innerHTML = `
        <label>
          <input type="checkbox" class="{{ include.checkbox_class }}" value="${topic}" onchange="filterTable('{{ include.table_id }}', '{{ include.search_id }}', '{{ include.checkbox_class }}')">
          ${topic}
        </label>`;
      topicFilters.appendChild(listItem);
    });
  });

  function filterTable(tableID, searchID, checkboxClass) {
    let searchQuery = document.getElementById(searchID).value.toLowerCase();
    let selectedTopics = [...document.querySelectorAll("." + checkboxClass + ":checked")].map(cb => cb.value.toLowerCase());
    let rows = document.querySelectorAll("#" + tableID + " .filterRow");

    rows.forEach(row => {
      let title = row.cells[1].innerText.toLowerCase();
      let topics = row.dataset.topics.toLowerCase().split(", ");

      let matchesSearch = title.includes(searchQuery);
      let matchesTopics = selectedTopics.length === 0 || selectedTopics.some(topic => topics.includes(topic));

      row.style.display = matchesSearch && matchesTopics ? "" : "none";
    });
  }
</script>
