<a href="#main-content" class="skip-link">Skip to main content</a>
<header class="container">
  <nav role="navigation">
    <ul>
      <li>
        <a href="{{ '/' | relative_url }}" class="contrast">{% include logo.svg %}{{ site.title | escape }}</a>
      </li>
    </ul>
    <ul>
      <li>
        <details class="dropdown">
          <summary>≡&nbsp;Info</summary>
          <ul dir="ltr">
            <!-- Mobile-only buttons inside dropdown -->
            <li class="mobile-only"><a href="http://link.civictech.ca/slack" target="_blank">Join Slack<span aria-hidden="true">&nbsp;↗</span></a></li>
            <li class="mobile-only"><a href="https://guild.host/ctto/events" target="_blank">RSVP on Guild<span aria-hidden="true">&nbsp;↗</span></a></li>
            <li><a href="{{ '/about-us' | relative_url }}">About Us</a></li>
            <li><a href="{{ '/get-involved' | relative_url }}">Get Involved</a></li>
            <li><a href="{{ '/code-of-conduct' | relative_url }}">Code of Conduct</a></li>
            <li><a href="{{ '/hacknights' | relative_url }}"><span aria-hidden="true">::&nbsp;</span>Hacknights</a></li>
            <li><a href="{{ '/organizations' | relative_url }}"><span aria-hidden="true">::&nbsp;</span>Organizations</a></li>
            <li><a href="{{ '/people' | relative_url }}"><span aria-hidden="true">::&nbsp;</span>People</a></li>
            <li><a href="{{ '/projects' | relative_url }}"><span aria-hidden="true">::&nbsp;</span>Projects</a></li>
            <li><a href="{{ '/resources' | relative_url }}"><span aria-hidden="true">::&nbsp;</span>Resources</a></li>
            <li><a href="{{ '/venues' | relative_url }}"><span aria-hidden="true">::&nbsp;</span>Venues</a></li>
          </ul>
        </details>
      </li>
      <li class="desktop-only"><button class="secondary" onclick="window.open('http://link.civictech.ca/slack', '_blank');">Slack<span aria-hidden="true">&nbsp;↗</span></button></li>
      <li class="desktop-only"><button class="primary" onclick="window.open('https://guild.host/ctto/events', '_blank');">RSVP<span aria-hidden="true">&nbsp;↗</span></button></li>
    </ul>
  </nav>
</header>
