{% comment %}
Usage:
{% include social-links.html social=page.social %}
{% endcomment %}
{% if include.social %}
<section class="social-links">
  <h2>Social Links</h2>
  <div class="social-button-group">
    {% for key in include.social %}
      {% assign platform = key[0] %}
      {% assign url = key[1] %}
      
      {% assign social_data = site.data.social_links[platform] %}
      
      {% if social_data %}
        <a href="{{ url }}" target="_blank" rel="noopener" class="social-button">
          {% if social_data.icon %}
            <img src="{{ site.baseurl }}/assets/icons/{{ social_data.icon }}" alt="{{ social_data.label }}" width="20" height="20">
          {% elsif social_data.emoji %}
            {{ social_data.emoji }}
          {% endif %}
          <span>{{ social_data.label }}</span>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}

