{% comment %}
topic-tags.html
Usage: {% include topic-tags.html tags=page.tags %}
{% endcomment %}

{% if include.tags %}
<p class="topic-tags">
  {% for full_tag in include.tags %}
    {% assign parts = full_tag | split: "/" %}
    {% assign namespace = parts[0] %}
    {% assign tag = parts[1] %}
    
    {% if namespace == "topic" %}
      {% assign slug = tag | downcase | replace: " ", "-" | replace: "_", "-" | replace: "/", "-" %}
      <a class="badge badge-topic" href="{{ site.baseurl }}/tags/topic/{{ slug }}/">{{ tag }}</a>
    {% endif %}
    
  {% endfor %}
</p>
{% endif %}
