// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Inclusion of CTTO SVG Brand
svg.logosvg{
    height: 1.5rem;
    margin-bottom: -0.1rem;
    margin-right: 0.25rem;
}
#path1{
    fill: $brand-color;
    stroke-width: 2.5px;
    stroke: $brand-color;
}

.footer-title{
    display: inline-block;
    text-align: -webkit-match-parent;
    margin: 0;
    padding: 0;
}

.contact-list{
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

// end CTTO Brand inclusion for header and footer.

.mtb2rem{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mb1rem{
    margin-bottom: 1rem;
}


p.lead{
    @include relative-font-size(1.75);
    margin-bottom: $spacing-unit;
}

.card{
    border: 1px solid $border-color-01;
    padding: $spacing-unit * .5;
    border-radius: $spacing-unit * .25;
}

a.btn {
    color: $background-color;
    background-color: $link-base-color;
    text-decoration: none;
    padding: $spacing-unit * 0.25 $spacing-unit * 0.5;
    border-radius: $spacing-unit * 0.25;

    &.secondary {
        background-color: $brand-color;
    }

    &:hover {
        background-color: $link-hover-color;
    }

}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-unit * .5;
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
        grid-template-columns: 1fr;
      }
    
}

.grid-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-unit * .5;
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
        grid-template-columns: 1fr;
      }
    
}