---
layout: base
---

  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/announcements">Announcements</a></li>
      <li>{{ page.title }}</li>
    </ul>
  </nav>
  <article class="mobilenegativemargin">
    <header>
      <h1>{{ page.title }}</h1>
      {% if page.date %}
      <p>Date: {{ page.date | date: "%B %d, %Y" }}
        {% if page.author %}
         | Author:
        {% assign author_name = page.author | remove: '[[' | remove: ']]' %}
        {{ author_name }}
        {% endif %}
      </p>
      {% endif %}
    </header>
    <section class="announcement-body">
      {{ content }}
    </section>
  </article>