---
layout: page
---

  <header>
    <h2>All Categories</h2>
    <p>Browse all categories by namespace.</p>
  </header>

  <section class="all-categories">
    {% for namespace in site.data.categories %}
      <section class="namespace-categories">
        <h2>{{ namespace[0] | capitalize }}</h2>

        {% if namespace[1].size > 0 %}
        <ul>
          {% for category in namespace[1] %}
            {% assign slug = category | downcase | replace: " ", "-" | replace: "_", "-" | replace: "/", "-" %}
            <li>
              <a href="{{ site.baseurl }}/categories/{{ namespace[0] }}/{{ slug }}/">
                {{ category | capitalize }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <p><small>No categories found under this namespace.</small></p>
        {% endif %}
      </section>
    {% endfor %}
  </section>
