---
layout: base
---

{% comment %} Resolve linked Hacknights {% endcomment %}
{% assign resolved_hacknights = "" | split: "" %}
{% for instance in page.hacknight %}
  {% assign instance_name = instance | remove: '[[' | remove: ']]' %}
  {% assign path = '_hacknights/' | append: instance_name | append: '.md' %}
  {% assign instance_resolved = site.hacknights | where: "relative_path", path | first %}
  {% if instance_resolved %}
    {% assign resolved_hacknights = resolved_hacknights | push: instance_resolved %}
  {% endif %}
{% endfor %}
{% assign resolved_hacknights = resolved_hacknights | sort: "date" | reverse %}

{% comment %} Resolve linked People {% endcomment %}
{% assign resolved_people = "" | split: "" %}
{% for instance in page.team %}
  {% assign instance_name = instance | remove: '[[' | remove: ']]' %}
  {% assign path = '_people/' | append: instance_name | append: '.md' %}
  {% assign instance_resolved = site.people | where: "relative_path", path | first %}
  {% if instance_resolved %}
    {% assign resolved_people = resolved_people | push: instance_resolved %}
  {% endif %}
{% endfor %}

  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
      <li>{{ page.title }}</li>
    </ul>
  </nav>

  <article class="mobilenegativemargin">
    <header>
      <hgroup>
        <h1>{{ page.title }}</h1>
        {% if page.excerpt %}
          <p>{{ page.excerpt }}</p>
        {% endif %}
      </hgroup>
    </header>
    <div class="main-with-sidebar">
      <div class="main-content">
        <section class="project-description">
          {% if page.description %}
          <p>{{ page.description }}</p>
          {% endif %}
          {{ content }}
        </section>
      </div>
      <aside>
        {% if page.image %}
        <img class="ogimage" src="{{ page.image }}">
        {% endif %}
        <h2>Project Information</h2>
        <dl>
          <dt>Categories</dt>
          <dd>{% include namespaced-categories.html categories=page.categories namespaces="contributors,status" %}</dd>
        </dl>
        <dl>
          <dt>Tags</dt>
          <dd>{% include tags.html tags=page.tags %}</dd>
        </dl>
        <dl>
          <dt>Since</dt>
          <dd>{{ page.dateActiveFirst | date: "%B %d, %Y" }}</dd>
        </dl>

        {% if page.social %}
        {% include social-links.html social=page.social %}
        {% endif %}
      </aside>
    </div>
    <footer>
      {% include edit-link.html %}
    </footer>
  </article>

  {% if resolved_people.size > 0 and resolved_hacknights.size > 0 %}
  <section class="related-articles">
    {% if resolved_people.size > 0 %}
    <section>
      <h3>Related People</h3>
      
      <article>
        <ul>
          {% for person in resolved_people %}
            <li>
              <a  href="{{ person.url }}">{{ person.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </article>

    </section>
    {% endif %}

    {% if resolved_hacknights.size > 0 %}
    <section>
      <h3>Related Hacknights</h3>
      {% for hacknight in resolved_hacknights %}
      <article>
        <hgroup>
          <small>
            {{ hacknight.date | date: "%B %d, %Y" }} - Hacknight #{{ hacknight.number }}
          </small>
          <h4>
            <a href="{{ hacknight.url }}">
              {{ hacknight.topic }}
            </a>
          </h4>
        </hgroup>
      </article>
      {% endfor %}
    </section>
    {% endif %}
  </section>
  {% endif %}